<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995068618193-1thrhjmrum9qkabl6p5amb5g49j12f10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995068618193-1thrhjmrum9qkabl6p5amb5g49j12f10</string>
	<key>API_KEY</key>
	<string>AIzaSyBp9amwb-3JjertdFWVqnGUZCOkl8gNPjM</string>
	<key>GCM_SENDER_ID</key>
	<string>995068618193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theiskaa.hackernews</string>
	<key>PROJECT_ID</key>
	<string>hackernews-6b228</string>
	<key>STORAGE_BUCKET</key>
	<string>hackernews-6b228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995068618193:ios:b4f6f3dd9ce50b6d20acf0</string>
</dict>
</plist>